{% extends 'base.html' %}
{% block content %}

<hr>

<table>
    <tr>
        <th>Sorszám</th>
{#        <th>Név</th>#}
        <th>Munkái</th>
        <th>Sorstípus</th>
        <th>Kor</th>
        <th>Nem</th>
        <th>Életcikuls</th>
        <th>Hyleg</th>
        <th>Anaréta</th>

    </tr>
    {% for adat in analogia %}

    <tr>
        <td>{{adat.sorszam}}</td>
{#        <td>{{adat.nev}}</td>#}
        <td>{{adat.munka}}</td>
        <td>{{adat.sorstipus}}</td>
        <td>{{adat.pontoskor.year}}</td>
        <td>{{adat.neme}}</td>
        <td>{{adat.eletciklus}}</td>
        <td>{{adat.hyleg}}</td>
        <td>{{adat.anareta}}</td>
    </tr>


    {% endfor %}

</table>



{% endblock content %}

