{% extends 'konkret_analogia.html' %}

{% block header %}
    <a href="{% url 'haz' analogia.nevID %}">{{ analogia.nevID }}</a>
{% endblock %}

{% block body %}

    <p>Típus: {{ analogia.tipus }} ház</p>
    <p>Mundán jegye: <a href="{% url 'jegy' analogia.mundan_jegye %}">{{ analogia.mundan_jegye }}</a></p>

    <h3>Leírás:</h3>
    {% for i in analogia.leiras %}
        <p> {{ i }} </p>
    {% endfor %}
    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4">
                <ol class="list-unstyled mb-0">
                    <li><a href="{% url 'haz' random_analogia %}"> Véletlenszerű Ház analógia</a></li>
                </ol>
            </div>

        </div>
    </div>

{% endblock %}
