{% extends 'base.html' %}
{% block title %} Kvíz {% endblock %}
{% block css %}
    <style>
        .attempt {
            --gradient: linear-gradient(to left top, #000000 10%, darkgreen 40%) !important;
        }

        #btn-konnyu {
            border: 5px solid;
            border-image-slice: 1;
            background: var(--gradient) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            border-image-source: var(--gradient) !important;
            text-decoration: none;
            left: 80px;
        }

        #btn-konnyu:hover,
        #btn-konnyu:focus {
            background: var(--gradient) !important;
            -webkit-text-fill-color: #fff !important;
            border: 5px solid #fff !important;
            box-shadow: #222 1px 0 10px;
            text-decoration: yellow;
        }
        #btn-kozepes {
            border: 5px solid;
            border-image-slice: 1;
            background: black !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            border-image-source: var(--gradient) !important;
            text-decoration: none;
            left: 80px;
        }

        #btn-kozepes:hover,
        #btn-kozepes:focus {
            background: darkgoldenrod !important;
            -webkit-text-fill-color: #fff !important;
            border: 5px solid #fff !important;
            box-shadow: #222 1px 0 10px;
            text-decoration: yellow;
        }

        #btn-nehez {
            border: 5px solid;
            border-image-slice: 1;
            background: var(--gradient) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            border-image-source: var(--gradient) !important;
            text-decoration: none;
            left: 80px;
        }

        #btn-nehez:hover,
        #btn-nehez:focus {
            background: red !important;
            -webkit-text-fill-color: #fff !important;
            border: 5px solid darkred !important;
            box-shadow: darkmagenta 3px 0 50px;
            text-decoration: yellow;
        }

    </style>
{% endblock %}
{% load static %}

{% block content %}
    {% if user.is_superuser %}

        {#        <li><a class="dropdown-item" href="/add_quiz/">Kvíz hozzáadás</a></li>#}
        {#        <li><a class="dropdown-item" href="/add_question/">Kérdés hozzáadás</a></li>#}

    {% endif %}

    <li><a class="dropdown-item" href="{% url 'fejlesztes_alatt' %}">Eredmény táblázatok</a></li>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                {% if user.is_authenticated %}
                    <div class="modal-body" id="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                        <button type="button" id="start-quiz" class="btn btn-primary">Kezdés!</button>

                    </div>
                {% else %}
                    <div class="modal-body">
                        <h3>Ha játszani szeretnél először be kell jelentkezned.</h3>
                        <p>Ha nem szeretnél regisztrálni be tudsz lépni a következő felhasználóval.</p>
                        <p>Felhasználónév: jatekos <br> Jelszó: Asztro123 </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br><br><br>

    <table class="table table-hover table-bordered table-responsive ">
        <thead>
        <tr>
            <th scope="col">Teszt Neve</th>
            <th scope="col">Könnyű</th>
            <th scope="col">Közepes</th>
            <th scope="col">Nehéz</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Bolygó Jegyben gyakorló</th>
            <td>
                <button
                        data-bs-target="#exampleModal"
                        data-bs-toggle="modal"
                        data-time="{{ quiz.0.time }}"
                        data-questions="{{ quiz.0.number_of_questions }}"
                        data-name="{{ quiz.0.name }}"
                        data-id="{{ quiz.0.id }}"
                        id="btn-konnyu"
                        class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
            <td>
                <button data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.1.time }}"
                        data-questions="{{ quiz.1.number_of_questions }}" data-name="{{ quiz.1.name }}"
                        data-id="{{ quiz.1.id }}" id="btn-kozepes"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
            <td>
                <button data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.2.time }}"
                        data-questions="{{ quiz.2.number_of_questions }}" data-name="{{ quiz.2.name }}"
                        data-id="{{ quiz.2.id }}" id="btn-nehez"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Bolygó Házban gyakorló</th>
            <td>
                <button data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.3.time }}"
                        data-questions="{{ quiz.3.number_of_questions }}" data-name="{{ quiz.3.name }}"
                        data-id="{{ quiz.3.id }}" id="btn-konnyu"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
            <td>
                <button
                        data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.4.time }}"
                        data-questions="{{ quiz.4.number_of_questions }}" data-name="{{ quiz.4.name }}"
                        data-id="{{ quiz.4.id }}" id="btn-kozepes"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
            <td>
                <button data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.5.time }}"
                        data-questions="{{ quiz.5.number_of_questions }}" data-name="{{ quiz.5.name }}"
                        data-id="{{ quiz.5.id }}" id="btn-nehez"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Ház ura házban gyakorló</th>
            <td>
                <button data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.6.time }}"
                        data-questions="{{ quiz.6.number_of_questions }}" data-name="{{ quiz.6.name }}"
                        data-id="{{ quiz.6.id }}" id="btn-konnyu"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
            <td>
                <button data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.7.time }}"
                        data-questions="{{ quiz.7.number_of_questions }}" data-name="{{ quiz.7.name }}"
                        data-id="{{ quiz.7.id }}" id="btn-kozepes"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
            <td>
                <button data-bs-target="#exampleModal" data-bs-toggle="modal"
                        data-time="{{ quiz.8.time }}"
                        data-questions="{{ quiz.8.number_of_questions }}" data-name="{{ quiz.8.name }}"
                        data-id="{{ quiz.8.id }}" id="btn-nehez"
                        style="justify-content: center;" class="attempt btn mr-2 modal-button"><i
                        class="fas fa-link"></i>Kitöltés!
                </button>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block js %}
    <script>
        const modalBtns = [...document.getElementsByClassName('modal-button')]
        const modalBody = document.getElementById('modal-body')
        const modaltitle = document.getElementById('modal-title')
        const startQuiz = document.getElementById('start-quiz')

        const url = window.location.href

        modalBtns.forEach(modalBtn => modalBtn.addEventListener('click', () => {
            const id = modalBtn.getAttribute('data-id')
            const name = modalBtn.getAttribute('data-name')
            const numberOfQuestions = modalBtn.getAttribute('data-questions')
            const time = modalBtn.getAttribute('data-time')

            modaltitle.innerHTML = `${name}`

            modalBody.innerHTML = `
    Az ${name} kvíz ${numberOfQuestions} kérdést tartalmaz, amikre összesen ${time} másodperced van válaszolni.


      <hr>
        Az egyes kérdésekre több válaszlehetőség közül kell választanod 1-et, amit helyesnek tartasz.
        <br> <br>
        Például a kérdés a következő --> apa: küzd a családért <br>
        Itt egy lehetséges jó válasz a Kos Nap

    `

            startQuiz.addEventListener('click', () => {
                window.location.href = url + id
            });
        }));
    </script>
{% endblock %}
