<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asztro-weboldal</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/style.css' %}">
</head>
<body>

{% include 'navbar.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li></li>
    {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!--<img src="{% static 'images/hold.jpg' %}" alt="hold">-->

{% block content %}

{% endblock %}

</body>
</html>