{% extends 'base.html' %}
{% block content %}
    <h1>Célkijelölő vagy megvalósító</h1>
    <h3>Értelmezése</h3>
    <h4>Célkijelölő</h4>
    <p>Az életében ő lesz aki másoknak, illetve magának is célt fog kijelölni, azonban tudnia kell,
    hogy egyedül nem tudja őket megvalósítani, hiszen szüksége van valakire/valakikre akik azt segítik megvalósítani
    </p>
    <h4>Megvalósító</h4>
    <p>
    Életében jellemzőbb, hogy a problémákat kiválóan meg tudja oldani, azonban szüksége van valakire, valakikre akik
    célt tudnak adni neki,amit beteljesítet.
    </p>

    <h3>Kiszámítása</h3>

    <p>
        Pontozási rendszer alapján:
        Célkijelölő +1 pont ha az ASC támava van oppozicióval vagy kvadráttal
        Célkijelölő +1 pont ha az ASC-nek van ura

        Megvalósító +1 pont ha az MC támava van oppozicióval vagy kvadráttal
        Megvalósító +1 pont ha az ASC-nek van ura

        Amennyiben egyenlő a pontszám, a Mars fog dönteni:
        - Ha a mars támadva van oppozícióval vagy kvadráttal Célkijelölő lesz
    </p>
{% endblock content %}
