{% extends 'base.html' %}
{% block content %}
    <h1>Életciklusok</h1>

    <h3>Értelmezése</h3>
    <p>
        Az asztrológiában 7 éves ciklusokra oszthatunk egy élettartamot.
        Minden ciklushoz tartozik egy-egy bolygó vagy bolygó páros.
        Ezek a bolygók az adott ciklusban felerősödnek, és nagyobb hatással vannak életünkre.
    </p>
    <h3>Kiszámítása</h3>

    <table>
        <li>0-7 év -- hold</li>
        <li>7-14 év -- hold-merkúr</li>
        <li>14-21 év FIÚ -- hold-mars</li>
        <li>14-21 év LÁNY -- hold-vénusz</li>
        <li>21-28 év FÉRFI -- nap </li>
        <li>21-28 év NŐ -- hold </li>
        <li>28-35 év -- nap</li>
        <li>35-42 év -- nap-jupiter</li>
        <li>42-49 év -- nap-mars</li>
        <li>49-56 év -- jupiter</li>
        <li>56-63 év -- jupiter-szaturnusz</li>
        <li>63+ év -- szaturnusz</li>
    </table>
{% endblock content %}
