{% extends 'base.html' %}
{% block content %}
<h1>Ház ura Házban</h1>

<h3>Kiszámítása</h3>


    <ul>
    <li>Elkezdünk vizsgálni egy házat, pl legyen a 4-es ház</li>
    <li>Megnézzük ez a ház milyen jegyben áll. Legyen a 4 es ház a Skorpióban</li>
    <li>Vesszük ennek a háznak az uralkodó bolygóját. Skorpiónak a Mars az ura</li>
    <li>Megekeressük a képletben melyik házban áll a Mars. Pl álljon most a 7-es házban.</li>
    <li>Megvizsgáljuk, hogy milyen jegyben áll ez az új vizsgált ház. Pl most 7-es ház a Bakban van</li>
    <li>Megnézzük a kiindulási jegy pozitivitását. Esetünkban a Skorpió negatív jegy.</li>
    <li>Megnézzük az érkezési jegy pozitivitását. Esetünkban a Bak szintén negatív jegy.</li>
    <li>Megnézzük, hogy a kiinudlási ház ura, együtt áll-e más bolygókkal. Pl most ne álljon együtt semmivel.</li>
    <li>Ha nem áll együtt semmivel, és megegyezik a 2 jegy pozitivitása, a kiinuulási ház ura az érkezési ház lesz.</li>
        ... folytatás következik

    </ul>

{% endblock content %}