{% extends 'konkret_analogia.html' %}

{% block header %}
   <a href="{% url 'serulte_naphold' %}">Sérült-e a Nap vagy a Hold</a>
{% endblock %}

{% block body %}

    <p>A sérült Nap és Hold analógiák az apa és az anya mintákra mutatnak rá.</p>

    <h3>Kiszámítása</h3>
    <p>Vegyük figyemebe a következő <b>sötét</b> házakat: 4,8,12</p>
    <p>Vegyük figyemebe a következő <b>világos</b> házakat: 1,5,9,10,11</p>
    <h4>A kiszámítás a következő képpen történik</h4>
    <ul>
        <li><b>Nő</b></li>
        <ul>
            <li>A nap bolygója világos házban van ---> Plusz Napos</li>
            <li>A hold bolygója sötét házban van ---> Minusz Holdas</li>
        </ul>
        <li><b>Férfi</b></li>
        <ul>
            <li>A nap bolygója sötét házban van ---> Minusz Napos</li>
            <li>A hold bolygója világos házban van ---> Plusz Holdas</li>
        </ul>
    </ul>

{% endblock %}
