{% extends 'konkret_analogia.html' %}

{% block header %}
    Szolár képlet értelmezése
{% endblock %}

{% block body %}

    <h2>A Nap melyik házban áll</h2>
    <h5>Elmélet</h5>
    <p>
        Az adott szolár horoszkópban, amelyik házban áll a napod,
        annak a háznak a háztrigonjain keresztül fog érvényesülni a Nap a radix horoszópban
    </p>
    <h5>Példa</h5>
    <p>
        Szolár képlet 5. házában áll a nap <br>
        Megnézem a radix képletben az 5, 9, 1 házakat. Itt fognak megjelenni az események.
    </p>
    <h4> Egyéb tudnivalók:</h4>
    <p>A szolár Nap-ok 4 évente következnek egymás után <br>
        Van hogy 2x -4x visszatér ugyan abba a házba a szolár nap, utána 25 évig nem
    </p>


    <h2>Transzcendens bolygók támogatottsága</h2>
    <p>
    - Támadva a van a vizsgált transzcendens: <br>
    Nem történhet olyan ami az egódnak kedvezőtlen vagy hirtelen esemény lenne
    </p>
    <p>
    - Nincs támadva a vizsgált transzcendens: <br>
    Hozhat eseményt, ami lehet váraltan, de nincs megmondva, hogy jó-e vagy rossz-e az esemény <br>
    Ha nincs fényszöge a vizsgált transzcendensnek, az egónak mégkevesebb beleszólása van az eseménybe, legtöbbször negatív
    </p>


    <h2> Szaturnusz és Jupiter értelmezése</h2>
    <h3>Szaturnusz változtat</h3>
    <p>
    Amelyik házban van a szaturnusz, azon az életterületen változást fog megélni az egyén
    </p>
    <h3>Jupiter rögzít</h3>
    <p>
    Amelyik házban a Jupiter van ott az egyén azonosulni tud az analógiákkal
    </p>


    <h2>Aszcendens értelmezése</h2>
    <p>
    Amelyik jegyben áll az ASC, annak a jegynek a átéléseit, érzéseit fogja átélni az egyén
    </p>

    <h2>Események létrejötte</h2>


{% endblock %}
