<!DOCTYPE html>
<html lang="en">
<head>
    <script src="a"></script>
    <meta charset="UTF-8">
    <title>Szuper Titkos</title>
</head>
<body>


<p id="demo"></p>

<button type="button" id="1" onclick='document.getElementById("demo").innerHTML = "Tereemtettél magadnak egy wc-t"'>!WC!</button>

<button type="button" id="2"  onclick="document.getElementById('demo').style.fontSize='35px'">NŐJJMEGG</button>

<button type="button" id="3"  onclick="document.getElementById('demo').style.display='none' ">TŰNNYEL</button>

<button type="button" id="4"  onclick="document.getElementById('demo').style.display='block'">JERVISSZA</button>
</body>
</html>