{% extends 'base.html' %}
{% block content %}

<html lang="en" class="h-100">
    <main class="px-3 bg-dark d-flex d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        {% if page == 'login' %}
        <div>
            <div>
                <form method="POST" action="">
                    {% csrf_token %}

                    <label>Falhasználónév:</label>
                    <input type="text" name="username" placeholder="Add meg a felhasználóneved"/>

                    <label>Jelszó:</label>
                    <input type="password" name="password" placeholder="Add meg a jelszavad"/>

{#                    <input type="submit" name="Login" >#}
                    <br><br>
                    <button type="submit" name="Login" class="btn btn-success btn-lg">Belépés</button>
                </form>
                <br><br>
                <p>Még nem vagy regisztrálva?</p>
                <br><br>
                <button type="button" class="btn btn-light btn-sm"><a href="{% url 'register' %}">Regisztráció</a></button>
                <br><br>

            </div>

            {% else %}
            <div>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="Register" class="btn btn-success btn-lg">Regisztráció</button>
                </form>
                <br><br>
                <p>Már regisztráltál?</p>
                <br>
                <button type="button" class="btn btn-light btn-sm"><a href="{% url 'login' %}">Belépés</a></button>

                <br><br><br><br>
            </div>


        </div>
    {% endif %}

</div>
    </main>
</html>
{% endblock content %}


