{% extends 'base.html' %}

{% block content %}

     <h1>pontositas</h1>

    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ form.as_p }}
        {% for form in formset %}
            <div class="row form-row spacer">
                <div class="col-2">
                    <label>{{ form.munkanev.label }}</label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        {{ form.munkanev }}
                        <div class="input-group-append">munkahozzaadas
                            <button name="munkahozzaadas" class="btn btn-success add-form-row">+</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row spacer">
            <div class="py-4 d-grid gap-2 col-6 mx-auto">

                <button name="mentes_es_foolal" class="btn btn-success">Mentés és vissza a főoldalra
                </button>
                <button name="ujabb_felvitel" class="btn btn-success">Újabb felvitel</button>
                <button name="horozkop_megnyitas" class="btn btn-success">Mentés és elemzés megnyitás</button>
                <button name="megse" class="btn btn-danger">Mégse</button>
            </div>
        </div>
    </form>

{% endblock %}
