{% extends 'base.html' %}

{% block content %}



    <form class="form-control my-3">
        {% csrf_token %}
        <textarea class="form-control" name="input_szo" placeholder="Leave a comment here"
                  id="floatingTextarea"></textarea>
        <button class="btn btn-info text-center">Fordítás</button>

    </form>
        {% if hibauzenet %}
    <div class="text-danger">
        <hr>
    </div>
        <div class="text-center bg-danger">

        {{ hibauzenet }}
        </div>

    <div class="text-danger">
        <hr>
    </div>

    {% endif %}

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Eredeti szó</th>
      <th scope="col">Fordított szó</th>
      <th scope="col">Fordított és átalakított szó</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Balról jobbra olvasva</th>
      <td>{{ eredeti_szo|urlize }}</td>
      <td>{{ forditottszo }}</td>
      <td>{{ atalakitott_szo }}</td>

    </tr>
    <tr>
      <th scope="row">Jobbról balra olvasva</th>
      <td>{{ megforditott_eredeti_szo }}</td>
      <td>{{ megforditott_forditott_szo }}</td>
      <td>{{ atalakitott_megforditott_szo }}</td>
    </tr>

  </tbody>
</table>

{% endblock %}
