{% extends 'analogia_db_base.html' %}

{% block content %}

<a id="create" href="{% url 'create-bolygok' %}">Készíts Bolygó analógiát</a>
<hr>
<hr>

{% for adat in adatok %}
<div id="exact">

    <h6> <a href="{% url 'bolygo' adat.nevID %}">{{adat.nevID}}</a> </h6>
</div>

<div id="delete">
    <a href="{% url 'delete-bolygo' adat.nevID %}">Delete {{adat.nevID}}</a>
</div>

<div id="update">

    <a href="{% url 'update-bolygo' adat.nevID %}">Vátoztasd meg analógiát</a>

</div>
<hr>
{% endfor %}
<hr>
{% endblock content %}