{% extends 'analogia_db_base.html' %}

{% block content %}

<a id="create" href="{% url 'create-bolygoHazban' %}">Készíts {{adat}} analogiat</a>
<hr>
<hr>

{% for adat in adatok %}
<div id="exact">

    <h6> <a href="{% url 'bolygoHazban' adat.id %}"> {{adat}}</a> </h6>
</div>

<div id="delete">
    <a href="{% url 'delete-bolygoHazban' adat.id %}">Delete</a>
</div>

<div id="update">

    <a href="{% url 'update-bolygoHazban' adat.id %}">Vátoztatás</a>

</div>
<hr>
{% endfor %}
<hr>
{% endblock content %}