{% extends 'analogia_db_base.html' %}

{% block content %}
<main>
    {% for adat in adatok %}
    <div class="flex-md-equal w-100 my-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <a  href="{% url 'bolygoJegyben' adat.id %}" type="button" class="btn btn-outline-light">{{adat}}</a>
                <h2><a></a></h2>
                <a href="{% url 'delete-bolygoJegyben' adat.id %}">Delete {{adat.nevID}}</a>
                <a href="{% url 'update-bolygoJegyben' adat.id %}">Vátoztasd meg analógiát</a>
            </div>

        </div>
    </div>
    {% endfor %}
</main>

<div class="sidenav">
   <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="fname">Add meg egy jegy minőségét a kilistázáshoz:</label><br>
            <input type="text" id="fname" name="jegyNev" value="kos"><br>
            <input type="submit" value="Submit">
        </form>

    </div>
    <div>
        {% for adat in jegy_alapjan_lekeres %}
        <a href="{% url 'bolygoJegyben' adat.id %}">{{adat}}</a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
