{% extends 'analogia_db_base.html' %}

{% block content %}

<a id="create" href="{% url 'create-hazJegyben' %}">Készíts {{adat.osszetettNevID}} analogiat</a>
<hr>
<hr>

{% for adat in adatok %}
<div id="exact">

    <h6> <a href="{% url 'hazJegyben' adat.osszetett_nevID %}"> {{adat.osszetett_nevID}}</a> </h6>
</div>

<div id="delete">
    <a href="{% url 'delete-hazJegyben' adat.osszetett_nevID %}">Delete</a>
</div>

<div id="update">

    <a href="{% url 'update-hazJegyben' adat.osszetett_nevID %}">Vátoztatás</a>

</div>
<hr>
{% endfor %}
<hr>
{% endblock content %}