{% extends 'analogia_db_base.html' %}

{% block content %}
<main>
    {% for adat in adatok %}
    <div class="flex-md-equal w-100 my-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <a  href="{% url 'hazJegyben' adat.id %}" type="button" class="btn btn-outline-light">{{adat}}</a>
                <h2><a></a></h2>
                <a href="{% url 'delete-hazJegyben' adat.id %}">Delete {{adat}}</a>
                <a href="{% url 'update-hazJegyben' adat.id %}">Vátoztasd meg analógiát</a>
            </div>

        </div>
    </div>
    {% endfor %}
</main>

<a id="create" href="{% url 'create-hazJegyben' %}">Készíts Bolygó analógiát</a>

{% endblock content %}