{% extends 'base.html' %}
{% block content %}
<!-- Side navigation -->
<main>
    {% for adat in adatok %}
    <div class="flex-md-equal w-100 my-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <a href="{% url 'haz' adat.nevID %}" type="button" class="btn btn-outline-light">{{adat.nevID}}</a>
                <h2><a></a></h2>
                <a href="{% url 'delete-haz' adat.nevID %}">Delete {{adat.nevID}}</a>
                <a href="{% url 'update-haz' adat.nevID %}">Vátoztasd meg analógiát</a>
            </div>

        </div>
    </div>
    {% endfor %}
</main>

<a id="create" href="{% url 'create-hazak' %}">Készíts Ház analógiát</a>

<div class="sidenav">
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label> Válassz egy háztípust a listázáshoz: </label><br>

            <select name="haztipus">
              <option value="sarok">sarok</option>
              <option value="követő">követő</option>
              <option value="hanyatló">hanyatló</option>
            </select>
            <input type="submit" value="Listázás">
        </form>

    </div>

    <div>
        {% for adat in haztipus_lekerdezes %}
        <a href="{% url 'haz' adat.nevID %}">{{adat.nevID}}</a>
        {% endfor %}
    </div>
</div>

{% endblock content %}