{% extends 'analogia_db_base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <h3>Szűrés</h3>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'bolygokJegyekben' %}">
                            <span data-feather="home"></span>
                            Bolygók Jegyekben
                        </a>
                        <form method="POST">
                            {% csrf_token %}
                            <label> Válassz egy jegyet és egy bolygót a listázáshoz: </label><br>

                            <label>
                                <select name="jegyNev">
                                    <option value="kos">kos</option>
                                    <option value="bika">bika</option>
                                    <option value="ikrek">ikrek</option>
                                    <option value="rák">rák</option>
                                    <option value="oroszlán">oroszlán</option>
                                    <option value="szűz">szűz</option>
                                    <option value="mérleg">mérleg</option>
                                    <option value="skorpió">skorpió</option>
                                    <option value="nyilas">nyilas</option>
                                    <option value="bak">bak</option>
                                    <option value="vízöntő">vízöntő</option>
                                    <option value="halak">halak</option>
                                </select>
                            </label>

                            <label>
                                <select name="bolygoNev">
                                    <option value="nap">nap</option>
                                    <option value="hold">hold</option>
                                    <option value="merkur">merkúr</option>
                                    <option value="mars">mars</option>
                                    <option value="vénusz">vénusz</option>
                                    <option value="jupiter">jupiter</option>
                                    <option value="szaturnusz">szaturnusz</option>
                                    <option value="uránusz">uránusz</option>
                                    <option value="neptun">neptun</option>
                                    <option value="plúto">plúto</option>
                                </select>
                            </label>

                            <input type="submit" value="Listázás" name="bolygo_es_jegy_lekerdezes">
                        </form>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'hazakJegyekben' %}">
                            <span data-feather="home"></span>
                            Házak Jegyekben
                        </a>
                        <form method="POST">
                            {% csrf_token %}
                            <label> Válassz egy házat és jegyet a listázáshoz: </label><br>

                            <label>
                                <label>
                                    <select name="jegyNev">
                                        <option value="kos">kos</option>
                                        <option value="bika">bika</option>
                                        <option value="ikrek">ikrek</option>
                                        <option value="rák">rák</option>
                                        <option value="oroszlán">oroszlán</option>
                                        <option value="szűz">szűz</option>
                                        <option value="mérleg">mérleg</option>
                                        <option value="skorpió">skorpió</option>
                                        <option value="nyilas">nyilas</option>
                                        <option value="bak">bak</option>
                                        <option value="vízöntő">vízöntő</option>
                                        <option value="halak">halak</option>
                                    </select>
                                </label>
                            </label>
                            <label>
                                <select name="hazNev">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </label>
                            <input type="submit" value="Listázás" name="haz_es_jegy_lekerdezes">
                        </form>
                    </li>

                    <div class="d-grid gap-2">
                        <hr>
                        <a id="create" href="{% url 'create-horoszkop' %}">
                            <button class="btn btn-primary" type="button">Új Horoszkóp</button>
                        </a>

                    </div>

                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% if haz_es_jegy_lekerdezes %}
            <h2>Válogatott horoszkópok</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover">
                    <thead>
                    <tr class="table-info">
                        <th scope="col">Név</th>
                        <th scope="col">Képlettípus</th>
                        <th scope="col">Dátum \ Idő</th>
                        <th scope="col">Törlés</th>
                        <th scope="col">Módosítás</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for adat in haz_es_jegy_lekerdezes %}
                    <tr>
                        <td><a href="{% url 'horoszkop' adat.id %}">{{adat}}</a></td>
                        <td>{{adat.tipus}}</td>
                        <td>{{adat.idopont}}</td>
                        <td><a href="{% url 'delete-horoszkop' adat.id %}">Törlés</a></td>
                        <td><a href="{% url 'update-horoszkop' adat.id %}">Módosítás</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}

            {% if bolygo_es_jegy_lekerdezes %}
            <h2>Válogatott horoszkópok</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover">
                    <thead>
                    <tr class="table-danger">
                        <th scope="col">Név</th>
                        <th scope="col">Képlettípus</th>
                        <th scope="col">Dátum \ Idő</th>
                        <th scope="col">Törlés</th>
                        <th scope="col">Módosítás</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for adat in bolygo_es_jegy_lekerdezes %}
                    <tr>
                        <td><a href="{% url 'horoszkop' adat.id %}">{{adat}}</a></td>
                        <td>{{adat.tipus}}</td>
                        <td>{{adat.idopont}}</td>
                        <td><a href="{% url 'delete-horoszkop' adat.id %}">Törlés</a></td>
                        <td><a href="{% url 'update-horoszkop' adat.id %}">Módosítás</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <hr>
            <h2>Összes horoszkóp</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover">
                    <thead>
                    <tr class="table-secondary">
                        <th scope="col">Név</th>
                        <th scope="col">Képlettípus</th>
                        <th scope="col">Dátum \ Idő</th>
                        <th scope="col">Törlés</th>
                        <th scope="col">Módosítás</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for adat in adatok %}
                    <tr>
                        <td><a href="{% url 'horoszkop' adat.id %}">{{adat}}</a></td>
                        <td>{{adat.tipus}}</td>
                        <td>{{adat.idopont}}</td>
                        <td><a href="{% url 'delete-horoszkop' adat.id %}">Törlés</a></td>
                        <td><a href="{% url 'update-horoszkop' adat.id %}">Módosítás</a></td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="dashboard.js"></script>


{% endblock content %}