{% extends 'base.html' %}

{% block content %}
<main>
    {% for adat in adatok %}
    <div class="flex-md-equal w-100 my-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <a href="{% url 'jegy' adat.nevID %}" type="button" class="btn btn-outline-light">{{adat.nevID}}</a>
                <h2><a></a></h2>
                <a href="{% url 'delete-jegy' adat.nevID %}">Delete {{adat.nevID}}</a>
                <a href="{% url 'update-jegy' adat.nevID %}">Vátoztasd meg analógiát</a>
            </div>

        </div>
    </div>
    {% endfor %}
</main>


<!-- Side navigation -->
<div class="sidenav">
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label> Válassz egy haz minőségét a listázáshoz: </label><br>

            <select name="minoseg">
                <option value="kardinális">kardinális</option>
                <option value="szilárd">szilárd</option>
                <option value="változó">változó</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>

    </div>
    <div>
        {% for adat in jegy_minoseg_lekerdezes %}
        <a href="{% url 'jegy' adat.nevID %}">{{adat.nevID}}</a>
        {% endfor %}
    </div>
</div>

<a id="create" href="{% url 'create-jegyek' %}">Készíts Jegy analógiát</a>

{% endblock content %}
